*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
video{
    width: 100%;
}
.container1{
    background-color: rgb(188, 223, 139);
display: flex;
}
.container1 image{
    width: 800px;
    height: 100px;
}
.container1 .title{
 padding: 10% 20%;
}
.container2{
    background-color: rgb(12, 197, 80);
display: flex;
}
.container2 image{
    width: 800px;
    height: 100px;
    margin: 2% 6%;
}
.container2 .title{
 padding: 10% 20%;
}

